.content {
  color: black;
  background-color: yellow;
  height: 100vh;
  paddin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content p {
  font-size: 100px;
}

.hidden {
  display: none;
}

.restart-button {
  padding: 15px 15px;
  margin-top: 50px;
  background-color: #F18260;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  opacity: 1;
}

.restart-button:hover {
  opacity: 0.6;
}
